//VARIABLES

//Colors
$slate-blue: #617890;
$sky-blue: #C4DCF6;
$bright-blue: #368DE8;

//Font
$main-font: "museo-sans";
$alt-font: "clavo";

//Buttons

%primary-button {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px none;
  background-color: rgba(97, 120, 144, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  font-family: $main-font;
  font-weight: 300;
  font-size: 1.250em;
  font-style: italic;
}

// GLOBAL PAGE STYLES
body {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $main-font;
  font-weight: 300;
}

.contain-to-grid {
  box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.50);
}

.top-bar {
  height: 65px;
  h1 a {
    font-size: 25px;
    text-align: right;
    font-weight: 300;
  }
  .name h1 a {
    color: #fff;
    font-weight: 300;
  }
  h2 a {
    font-size: 12px;
    margin-top: -20px;
    text-align: right;
  }
  .top-bar-section .right {
    margin-top: 6px;
  }
}

.see-more-work {
  background-color: $sky-blue;
  h3 {
    text-align: center;
    padding-bottom: 5%;
  }
  a {
    font-family: $alt-font;
    font-style: italic;
    font-size: 1.125em;
    color: $slate-blue;
    margin-top: 10px;
  }
  .more-right {
      float: right;
  }
  hr {
    border-color: $slate-blue;
  }
}

footer {
  height: 80px;
  background-color: $slate-blue;
  h5 {
    font-size: .75em;
    font-weight: 100;
    color: $sky-blue;
    text-align: center;
    padding-top: 4.5%;
  }
  .inline-list li {
    padding-top: 1rem;
    margin-left: .5rem;
  }
}

//MAIN PAGE STYLES

/*  Hero Unit  */
.main-hero {
  height: 425px;
  background: url("../images/tripsprouthero.jpg") no-repeat center right;
  margin: 15px auto;
  overflow: hidden;

  h3 {
    font-size: 3em;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 5.35714286rem;
  }

  h4 {
    font-size: 1.5em;
    font-weight: 100;
    padding-top: 1.28571429rem;
  }

  a {
    @extend %primary-button;
    margin-top: 5%;
    &:hover {
      background-color: $bright-blue;
    }
  }

  img {
    margin-top: 25px;
  }
}

/*  Project Thumbnails  */

.project-1, .project-2, .project-3, .project-4 {
  height: 225px;
}

.project-1 {
  background-color: #FF8B00;
}

.project-2 {
  background-color: $slate-blue;
}

.project-3 {
  background-color: #87C145;
}

.project-4 {
  background-color: #4EA49D;
}

#image-overlay {  
  background: rgba(0,0,0,.75);
  text-align: center;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.project-1:hover #image-overlay, .project-2:hover #image-overlay, 
.project-3:hover #image-overlay, .project-4:hover #image-overlay {
    opacity: 1;
    color: #fff;
}

/* Hello I'm Justin  */
.hello {
  height: auto;
  padding-top: 50px;
  padding-bottom: 80px;
  h2 {
    font-size: 3.25em;
    color: $bright-blue;
    span {
      font-weight: 700;
    }
  }
  p {
    font-size: 1.25em;
    a {
      color: $bright-blue;
    }
    span {
      font-weight: 700;
    }
  }
  ul {
    padding-top: 50px;
    li {
      padding-bottom: 15px;
    }
  }
}

.get-in-touch {
  height: auto;
  background-color: $sky-blue;
  padding-top: 25px;
  padding-bottom: 40px;
  h2 {
    font-size: 2.5em;
    font-weight: 500;
  }
  p {
    font-size: 1.25em;
  }
  a {
    @extend %primary-button;
    margin-top: 25%;
    background-color: $bright-blue;
    &:hover {
      color: $sky-blue;
      background-color: $slate-blue;
    }
  }
}


//TRIPSPROUT CASE STUDY
/** HERO UNIT **/
.tripsprout-hero {
  height: 800px;
  background: url("../images/tripsproutherolarge.jpg") no-repeat top center;
  background-size: cover;
  text-align: center;
  position: relative;

  img {
    padding-top: 7%;
  }

  h2 {
    font-size: 3.25em;
    font-weight: 500;
    padding-top: 5%;
  }
  h3 {
    font-size: 1.75em;
    font-weight: 100;
    padding: 0, 50%, 10%, 50%;
  }

  .skill-demonstration {
    height: 165px;
    background-color: rgba($slate-blue, .5);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    h4 {
      font-family: $alt-font;
      font-style: italic;
      font-size: 1.25em;
      color: rgba(#fff, .8);
    }
    ul {
      display: inline-block;
      margin: 0 auto;
      padding-top: 25px;
    }
    ul li img {
      height: 65px;
      width: auto;
    }
  }
}
/** MAIN ARTICLE **/
#trip-sprout-cs {
  .project-intro {
    padding-top: 5%;
    p {
      font-size: 1.625em;
    }
  }
  section {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  h4 {
    font-family: $alt-font;
    font-size: 2.75em;
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
  }
  p {
    font-size: 22px;
    padding-bottom: 3%;
  }
  .bold-span {
    font-weight: 500;
  }
  .italic-span {
    font-style: italic;
  }
  ul {
    font-size: 20px;
    font-family: $main-font;
    font-weight: 100;
    max-width: 80%;
    padding-left: 10%;
  }
  img {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
  .budget-dilemma-hero {
    background: url('../images/budget-dilemma-hero.jpg') no-repeat bottom left;
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  .budget-dilemma-wrapper {
    background-color: rgba($slate-blue, .4);
  }
  .teacher-designed-wrapper {
    background-color: rgba($sky-blue, .4);
  }
  .sass-wrapper {
    background-color: rgba($slate-blue, .4);
  }
}
























